/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header
{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px,10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    color: aqua;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: aqua;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
}
.navbar a:hover{
    color:blue;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home img{
    width: 75%;
    height: 70%;
    border-radius: 55%;
    position: relative;
    top: 0%;
    left: 30px;
    
    
}
.home-content{
    max-width: 600px;
}
.home-content span{
    color:rgb(137, 226, 43);
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p{
    font-size: 20px;
}

.logo {
    font-size: 36px;
    animation: moveUpDown 2s ease-in-out infinite alternate;
    color: aqua;
    font-style: oblique;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px); /* Adjust the distance the text moves */
    }
}


.home-sci a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background:transparent;
border: 2px solid aqua;
border-radius: 50%;
font-size: 38px;
color: aqua;
text-decoration: none;
margin: 30px 15px 30px 0px;
}

.home-sci a:hover{
    background: aqua;
    color:white;
    box-shadow:  2px 2px 20px aqua;
}

.button{
    display: inline-block;
    padding: 12px 28px;
    background: aqua;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.button:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

footer {
    background-color: #010500;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
}

.img {
    width: 360pxpx;
    height: auto;
    animation: clockwiseAnimation 12s linear infinite;
}

@keyframes clockwiseAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

h2 {
    font-size: 1.8em;
}

.project {
    margin-bottom: 30px;
}

.project h3 {
    font-size: 1.5em;
}

.project a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.project a:hover {
    background-color: #555;
}

.Skills span{
    color:blue;
    font:bolder;
}

.Skills li{
    margin: 20px 0;
    padding: 10px;

}
.bar{
    background: white;
    display: block;
    height: 20px;
    border: 1px solid rgba(8, 224, 239, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(6, 194, 227, 0.944) 0 1px 2px rgba(6, 166, 240, 0.982);
    transition: 0.3s cubic-bezier(.25,.8,.25,1);

}

.bar:hover{
    box-shadow: 0 14px 28px rgba(9, 147, 206, 0.952) 0 10px 10px rgba(6, 154, 208, 0.925);
}

.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgb(237, 59, 5)0%,rgb(20, 225, 5)100%);
}

.html{
    width: 70%;
    animation:html 3s;
}

.css{
    width: 50%;
    animation:  css 3s;
}

.python{
    width: 20%;
    animation:  python 3s;
}

.javascript{
    width: 30%;
    animation:  javascript 3s;
}
@keyframes html{
    0%{
        width:0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes javascript{
    0%{
        width:0%;
    }
    100%{
        width: 30%;
    }
}

@keyframes python{
    0%{
        width:0%;
    }
    100%{
        width: 20%;
    }
}
